<html>
    <head>
        <title>Portal ATDNews: Seu portal de notícias de TI</title>
        <script src="https://kit.fontawesome.com/852dc5c0a2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/public/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="center">
                <div class="logo">
                    <a href="/"><h2><span style="font-weight:lighter">ATD</span><b>News</b></h2></a>
                </div><!--logo-->
                <div class="form-busca">
                    <form action="/">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input name="busca" type="text" placeholder="Buscar">
                    </form>
                </div>
            </div><!--center-->
        </header>
    </body>
</html>